fastapi
uvicorn[standard]
sqlalchemy
bcrypt
python-multipart
pytesseract
pdf2image
PyMuPDF
reportlab
langdetect
transformers
torch
sentencepiece
google-generativeai
python-dotenv
python-jose
pandas
numpy
requests
httpx
aiohttp
regex
fsspec
filelock
protobuf
tqdm
greenlet
psycopg2-binary
orjson
ujson
typing_extensions
setuptools
